/* палитра цветов
black-color: #000000
blue accent-color: #2196F3;
grey p -text: #757575;
text-h-color: #212121;
контакты в подвале: rgba(255, 255, 255, 0.6);
}*/

:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --black-color: #2F303A;
    --section-color: #F5F4FA;
    --footer-w-color: rgba(255, 255, 255, 0.6);
    --border-color:#AFB1B8;
    --icon-color: #AFB1B8;
    --icon-bgc-footer:rgba(255, 255, 255, 0.1);
}


body {
    color: var(--primari-text-color);
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;

}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list,
.nav-item {
    list-style: none;
    text-decoration: none;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-list .item.curent  ::after {
    content: "";
    width: inherit;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    display: flex;
    margin-top: 27px;

}

.nav-list .item+.item {
    margin-left: 50px;
}

.nav-item {
    display: block;
    padding-top: 32px;
    /* padding-bottom: 32px; */
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--accent-color);
}

.curent {
    color: var(--accent-color);
}
/* .item::after {
    
    content: "";
   border: red;
    color: var(--accent-color);
    size: inherit;
} */

.address {
    display: flex;
    margin-left: auto;
}

.address .item:not(:last-child) {
    margin-right: 50px;
}

.address-item:hover,
.address-item:focus,
.address-item:hover svg,
.address-item:focus svg {
    color: var(--accent-color);
    fill: var(--accent-color);
}


.address a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142px;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);
}

.address li {
    display: flex;
    align-items: center;
    
}

.icon-address {
    display: inline-block;
    margin-right: 10px;
    fill: var(--primari-text-color);
    
}
.mail{
    width: 16px;
    height: 12px;

}
.tell {
    width: 10px;
    height: 16px;
}


.icon-address:hover,
.icon-address:focus {
 fill: var(--accent-color);
 }
    
 
.hero {
    text-align: center;
    justify-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--black-color);
    color: var(--white-color);
    background-image: linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
         ), 
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    margin-bottom: 30px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .hero-btn {
    font: roboto;
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 4px;
    padding: 10px 32px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
}

.hero-btn:hover,
.hero-btn:focus,
.filter .btn:hover,
.filter .btn:focus {
    font: roboto;
    background-color: var(--accent-color);
    color: var(--white-color);


}

.container {
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 94px;
}


/* Оссобености */
.advantages {
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}


.advantages-list {
    display: flex;
    justify-content: space-around;
}

.advantages-list li:not(:last-child) {
    margin-right: 30px;
}

.advantages-item {
    display: block;
}

.advantages-item::before { 
    display: block;
    height: 120px;
    content: '';
    background: var(--section-color);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.icon-antenna::before {
    background-size: 70px;
    background-image: url(../images/icons/antenna.svg);
 
}

.icon-clock::before {
    background-size: 70px;
   background-image: url(../images/icons/clock.svg);
}
.icon-diagram::before {
    background-size: 70px;
    background-image: url(../images/icons/diagram.svg);
}
.icon-astronaut::before {
    background-size: 70px;
    background-image: url(../images/icons/astronaut.svg);
}


.advantages-item h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin: 0;
    margin-bottom: 10px;
}

.advantages-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    margin: 0;

}

/* чем ьы занимаемся */

.section-h {
    font-weight: 700;
    font-size: 36px;
   margin-bottom: 50px;
    text-align: center;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.about-list {
    display: flex;
}

.about-list .item:not(:last-child) {
    margin-right: 30px;

}

.team {
    background-color:var(--section-color);
    padding-top: 94px;
}

.team-list {
    display: flex;
}

.team-card {
    margin-right: 30px;
    background-color: var(--white-color);
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 5px;
    /* добавить тень внизу карточки */
}

.card-des>h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin: 0;
    text-align: center;
}

.card-des p {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primari-text-color);
}


.card-des {
    border-right: 1px solid 3 transparent;
    padding-top: 30px;
}
.social {
    list-style: none;
    display: flex;    
    margin: 16px 32px 30px 32px;
}

.social-item  {
    display: flex;
    
    
}

.social-link {
    display: flex;
    justify-content: center;
    align-items:center;
    width:44px;
    height: 44px;
    border-radius: 50%;
    background:var(--white-color);
    margin-right: 10px;
   
}

.social-icon {
    display: block;
    align-items:center;
    height: 20px;
    width: 20px;
    fill: var(--icon-color);
    background-position: center;
}

.social-link:hover,
.social-link:focus,
.social-link:hover svg,
.social-link:focus svg {
    background:var(--accent-color);
    fill: var(--white-color);
   
}


.regular-clients {
  /* display: flex; */
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 94px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 94px;
}

.regular-clients h2 {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1719;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.clients {
  display: flex;
 
}

.client {
    width: calc((100% - 150px) / 6);
    height: 90px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-right: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.client :last-child {
    margin-right: 0px;
}

.clients-logo {

    fill: var(--icon-color);
    
}

.client:hover,
.client:focus,
.client:hover svg,
.client:focus svg {
    border-color: var(--accent-color);
    fill:var(--accent-color);
}


/* футер */
footer {
    background-color: var(--black-color);
}

.content {
    display: flex;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: space-around;
    align-items:center;

}

.logo-addres {
    display: block;
    padding-top: 50px;

}

.logo-link {
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
 
}

.logo-link span {
    color: var(--accent-color)
}

.contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.174;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding-bottom: 60px;
}

.contacts-list {
    margin-bottom: 9px;
}

.contacts a {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.72px;
letter-spacing: 0.03em;
color: var(--footer-w-color);
margin-bottom: 9px;
}
.address-item :last-child{
    margin-bottom: 0px;
}
.join {
    /* display: block; */
    justify-content: space-around;
    align-items:left;
}
.join-title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.join .social {
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.footer-icon {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--icon-bgc-footer);
    margin-right: 10px;   
    
}
.icon {
    width: 20px;
    height: 20px;
    display: flex;
    fill: var(--white-color);
}

.footer-icon:hover,
.footer-icon:focus {
    background-color: var(--accent-color);
}

.form {
    display: block;
   width: 350px;
}

/* страница портфолио */

.header-box-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    border-bottom: 1px solid var(--section-color);
    margin: 0 auto
    
}
.portfolio {
   display: flex;
    padding-bottom: 94px;
    width: 1200px;
    padding-top: 94px;
    /* padding-right: 15px;
    padding-left: 15px; */
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    justify-content: center;
    /* align-items: start;
    margin-right: auto; */
    margin-bottom: 34px ;
    /* margin-left: auto; */
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
}
.filter-btn {
    display: block;
    margin-right: 8px;
    border-radius: 4px;
    /* padding:0 22px; */
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    
}

.filter .filter-btn :not(:last-child) {
    margin-right: 8px;
}

.btn {
    color: var(--title-text-color);
    background-color: var(--section-color);
    border: 1px solid var(--section-color);
    border-radius: 4px;
    padding: 6px 22px;

}

.cards {
 display: flex;
 justify-content: center;

}
.examples {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-top:34px;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-bottom: 94px;
}


.examples .examples-card:not(:nth-child(3n)){
    margin-right: 30px;
    
}
.examples .examples-card:nth-child(n + 3){
    margin-bottom: 30px;
}
.examples-card {
    display: block;
    width: 370px;

    margin-bottom: 30px;
    border: 1px solid var(--section-color);
}
.examples-card:hover,
.examples-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

}
.examples-img {
    display: block;
}
.card-txt {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.card-txt h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
 }

.card-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primari-text-color);
}
